body{
	font-family: arial;
}
form{
	margin: 0 auto;
	padding: 20px 0 0 0;
	width: 500px;
}
th{text-align: left;}
input[type=text], input[type=password], select {
	width: 100%;
	font-size: 14px;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #67666A;
	border-radius: 4px;
	box-sizing: border-box;
}
input[type=submit]{
	margin: 8px 20px 8px 0px;
}
a.button{	
	font-size: 14px;
	text-decoration: none;
	float: left;
	background-color: gray;
	color: white;
	padding: 14px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	margin: 0 10px 0 0;

}
input[type=submit]  {
	font-size: 14px;
	width: 45%;
	float: left;
	background-color: gray;
	color: white;
	padding: 14px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}